<div id="navbar">
    <span><a href="/">Home</a></span>
    <span><a href="/register">Register new book</a></span>
    <span><a href="/rent">Rent a book</a></span>
    <span><a href="/return">Return a book</a></span>
    <span><a href="/sign-in">Sign in</a></span>
    <span><a href="/sign-out">Sign out</a></span>
</div>