<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', { title: 'Sign in'}) %>
    <body>
        <%- include('partials/navbar.ejs') %>

        <% if (typeof error != 'undefined') { %>
            <p class="red">An error occured at signing in: <%= error %></p>
        <% } %>
        <% if (typeof success != 'undefined') { %>
            <p class="green">User <%= success.username %> signed in succesfully</p>
        <% } %>
        <form action="/users/sign-in" method="POST" enctype="multipart/form-data" id="sign-in">
            <p>User name: <input type="text" name="username" required/></p>
            <p><input type="submit" value="Sign in"/></p>
        </form>
    </body>
</html>