body {
  text-align: center;
}

.error-message {
  color: red;
  visibility: hidden;
}

.red {
  color: red;
}

.green {
  color: green;
}

#navbar > span {
  display: inline-block;
  width: 10%;
  margin: 10px;
}

table, th, td {
  border: 2px solid black;
  padding: 5px;
  background-color: burlywood;
}

th {
  background-color: gray;
}

td {
  background-color: whitesmoke;
}

.summary {
  text-align: left;
  display: none;
}
